mixin range-slider(params)
	-
		const {
			min = 0,
			max = 100,
			step = 1,
			startValue = 0,
			endValue = 100,
			title = "",
			description = "",
			currency = ""
		} = params

		function format(x) {
			return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
		}

	+b.range-slider.js-range-slider
		+e("h3").title= title
		+e.hint.js-hint= `${format(startValue)}${currency} - ${format(endValue)}${currency}`
		+e.slider.js-slider-container(
			data-min= min,
			data-max= max,
			data-step= step,
			data-start-value= startValue,
			data-end-value= endValue
			data-currency= currency
		)
		- if (description.length)
			+e.description= description
