extends ../layouts/ui-kit-layout/ui-kit-layout
include ../../blocks/kit-logo/kit-logo
include ../../blocks/search-card/search-card
include ../../blocks/registration-card/registration-card
include ../../blocks/sign-in-card/sign-in-card
include ../../blocks/booking-card/booking-card
include ../../blocks/room-card/room-card
include ../../blocks/stay-selector/stay-selector

block title
  | Cards
block main
  +b.cards
    +e.content
      +e.search-card
        +search-card()
      +e.registration-card
        +registration-card
      +e.booking-card
        +booking-card({
          roomNumber: 888,
          isLux: true,
          price: { price: 9990, sale: 2179, fee: 0, extraFee: 300, currency: "₽", period: 4 },
          dates: { arrival: [2019, 8, 19], departure: [2019, 8, 23] },
        })
      +e.sign-in-card
        +sign-in-card
      +e.stay-selector
        +stay-selector({
          inputsNumber: 0,
          arrivalDate: [2019, 8, 19],
          departureDate: [2019, 8, 23]
        })
      +e.room-cards
        - const path= "../../blocks/room-card/images";
        +e.room-card
          +room-card({
            images: [`${path}/3.jpg`, `${path}/5.jpg`, `${path}/9.jpg`, `${path}/1.jpg`]
          })
        +e.room-card
          +room-card({
            roomNumber: 840,
            isLux: false,
            price: {value: 9900, currency: "₽"},
            rate: 4,
            reviewNumber: 65,
            images: [`${path}/1.jpg`, `${path}/5.jpg`, `${path}/9.jpg`, `${path}/2.jpg`],
            href: "mock.html"
          })
